[include mainsail.cfg]
[include fluidd.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[include shell_command.cfg]
#To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# See docs/Config_Reference.md for a description of parameters.

[include plr.cfg]

[exclude_object]

# printer.cfg

[include timelapse.cfg]


[include shell_command.cfg]

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[firmware_retraction]
retract_length: 0.5
retract_speed: 60
unretract_speed: 60

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0 
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 12000
#max_accel_to_decel:5000
minimum_cruise_ratio: 0.58
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity:6

[virtual_sdcard] 
path:/home/pi/printer_data/gcodes


[pause_resume]

[display_status]

[idle_timeout]
gcode:
    RESPOND TYPE=echo MSG="No operations in 10min!"
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 600

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.0

[verify_heater extruder]
max_error: 60
check_gain_time:20
hysteresis: 5
heating_gain: 2

[verify_heater heater_bed]
max_error: 180
check_gain_time:120
hysteresis: 5
heating_gain: 2

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150, 150, 20  # an example
#accel_per_hz:100
#min_freq:1
#max_freq:100
#max_smoothing:0.2
#hz_per_sec:0.5

[respond]
#default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "error!"
#default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".

#############################################################################################################
#GCODE_MACRO
#############################################################################################################
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 60.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 60.0  ; unretract speed in mm/s
variable_speed_hop        : 40.0  ; z move speed in mm/s
variable_speed_move       : 230.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 900     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "my_sensor"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
gcode:

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
    RUN_SHELL_COMMAND CMD=clear_plr
    clear_last_file
    G31
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE
    RESPOND TYPE=echo MSG="Cancel Print Success!"
    G91 ;Relative positionning
    G1 E-2 F500 ;Retract a bit
    G1 E-2 Z0.2 F200 ;Retract and raise Z
    G1 Z1 ;Raise Z more
    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed
    G90
    G1 X10 Y290 F6000
    M84 X Y E ;Disable all steppers but Z

[gcode_macro START_PRINT]
gcode:
 M84 E ; Disable E Motor for probe accuracy on direct drive systems
 G90 ;Absolute positioning
 G92 E0 ; Reset Extruder distance to 0
 G1 E-1 ; Retracts filament to prevent blobs during probing
 G92 E0 ; Reset Extruder distance to 0
 G28 ; home all axes
 BED_MESH_PROFILE LOAD=default ; Loads the mesh - now has to be done explicitly, not automatically loaded anymore

 G92 E0     ; reset extruder
 G1 Z1.0 F3000    ; move z up little to prevent scratching of surface
 G1 X0.1 Y20 Z0.3 F5000.0  ; move to start-line position
 G1 X0.1 Y100.0 Z0.3 F500.0 E15  ; draw 1st line
 G1 X0.4 Y100.0 Z0.3 F5000.0  ; move to side a little
 G1 X0.4 Y20 Z0.3 F500.0 E30  ; draw 2nd line
 G92 E0     ; reset extruder
 G1 Z1.0 F3000    ; move z up little to prevent scratching of surface

[gcode_macro PAUSE] 
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    RESPOND TYPE=echo MSG="Pause Print!"
    ##### set defaults #####
    {% set x = params.X|default(10) %}      #edit to your park position
    {% set y = params.Y|default(290) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{e} F500
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
      G1 Z{z_safe}
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}

[gcode_macro RESUME]  
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    RESPOND TYPE=echo MSG="RESUME Print!"
    ##### set defaults #####
    {% if printer["filament_switch_sensor my_sensor"].filament_detected == True %} # detect if occur filament runout ,True : filament exists.  False:filament runout
        RESPOND TYPE=echo MSG="RESUME Print!"
        {% set e = params.E|default(1) %} #edit to your retract length
      #### get VELOCITY parameter if specified ####
        {% if 'VELOCITY' in params|upper %}
            {% set get_params = ('VELOCITY=' + params.VELOCITY) %}
        {%else %}
            {% set get_params = "" %}
        {% endif %}
      ##### end of definitions #####
      G91
        {% if printer.extruder.can_extrude|lower == 'true' %}
          G1 E{e} F400
        {% else %}
            {action_respond_info("Extruder not hot enough")}
        {% endif %} 
            RESUME_BASE {get_params}
    {% else %}
        RESPOND TYPE=echo MSG="Please Insert filament in Sensor!"
    {% endif %} 

[gcode_macro END_PRINT]
gcode:
    G91 ;Relative positionning
    G1 E-2 F500 ;Retract a bit
    G1 E-2 Z0.2 F200 ;Retract and raise Z
    G1 X5 Y5 F3000 ;Wipe out
    G1 Z1 ;Raise Z more
    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed
    G90 ;Absolute positionning
    G1 X10 Y290 ;Present print

    M84 X Y E ;Disable all steppers but Z
    RESPOND TYPE=echo MSG="Finish Print!"

[gcode_macro LOAD_FILAMENT]
gcode:
    G91 
    G1 E30 F300
    G1 E10 F150
    G90

[gcode_macro UNLOAD_FILAMENT]
gcode:
    G91
    G1 E-30 F300
    G90

[gcode_macro LED_ON]
gcode:
    SET_PIN PIN=my_led VALUE=1

[gcode_macro LED_OFF]
gcode:
    SET_PIN PIN=my_led VALUE=0

[gcode_macro M205]
gcode:
    M105

[gcode_macro M900]
gcode:

[gcode_arcs]
resolution:0,5

[gcode_macro BEEP]
gcode:
  {% set beep_count = params.BC|default("3") %}
  {% set beep_duration = params.BD|default("0.2") %}
  {% set pause_duration = params.PD|default("1") %}
  RUN_SHELL_COMMAND CMD=beep PARAMS='{beep_count} {beep_duration} {pause_duration}'

[gcode_shell_command beep]
command: bash /home/pi/printer_data/config/macro-beep.sh
timeout: 10
verbose: False

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh $0"
timeout: 90.0
verbose: True

#############################################################################################################
#stepper,TMC2209
#############################################################################################################
[stepper_x]
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x: virtual_endstop 
homing_retract_dist: 0
position_endstop: -12
position_min: -12
position_max: 302
homing_speed: 80
step_pulse_duration:0.000002

[tmc2209 stepper_x]
uart_pin:PE3
run_current:1.2
uart_address:3
interpolate: True
driver_sgthrs: 95
stealthchop_threshold:0
diag_pin: ^PD10 

[stepper_y]
step_pin: PB7
dir_pin: PB6
enable_pin: !PB9
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y: virtual_endstop 
homing_retract_dist: 0
position_endstop: -6
position_min: -6
position_max: 302
homing_speed: 60
step_pulse_duration:0.000002

[tmc2209 stepper_y]
uart_pin:PE4
run_current:1.2
uart_address:3
interpolate: True
driver_sgthrs: 95
stealthchop_threshold:0
diag_pin: ^PE0 

[stepper_z]
step_pin: PB3
dir_pin: !PD7
enable_pin: !PB5
microsteps: 16
rotation_distance: 8
endstop_pin:probe:z_virtual_endstop
#position_endstop: 0.0
position_max: 355
position_min: -4
homing_speed:10

[stepper_z1]
step_pin: PA7
dir_pin: !PA6
enable_pin: !PC5
microsteps: 16
rotation_distance: 8
endstop_pin:probe:z_virtual_endstop
#position_endstop: 0.0

[extruder]
max_extrude_only_distance: 100.0
step_pin: PD1
dir_pin: !PD0
enable_pin: !PD4
microsteps: 16
rotation_distance: 4.59
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA4
#control: pid
pressure_advance:0.02
pressure_advance_smooth_time:0.035
max_extrude_cross_section:500
instantaneous_corner_velocity:10
max_extrude_only_distance: 100.0
max_extrude_only_velocity:2000
max_extrude_only_accel:10000
#pid_Kp=24.522 
#pid_Ki=1.397 
#pid_Kd=107.590
min_temp: 0
max_temp: 305
min_extrude_temp: 20

[tmc2209 extruder]
uart_pin: PE7
run_current: 0.6
uart_address:3
#hold_current: 0.5
interpolate: True

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA3
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 105

[probe]
pin:PD13
x_offset:27
y_offset:-20

#[filament_switch_sensor my_sensor]
#pause_on_runout: True
# runout_gcode:
#     RESPOND TYPE=error MSG="Filament Runout! Please change filament!"
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin:PD11

[filament_switch_sensor my_sensor]
switch_pin: PD11
pause_on_runout: False
runout_gcode:
  PAUSE #[pause_resume] is required in printer.cfg
  RESPOND TYPE=error MSG="No filament was detected!"
insert_gcode:
  RESPOND TYPE=echo MSG="Filament was inserted"

[filament_motion_sensor encoder_sensor]
switch_pin: ^PB14
detection_length: 8
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  RESPOND TYPE=error MSG="Filament is stuck!"
insert_gcode:
  RESPOND TYPE=echo MSG="Filament was inserted"


[safe_z_home]
home_xy_position: 123,170
speed: 230
z_hop: 5                 # Move up 5mm
z_hop_speed: 20

#################################################
#Z stepper tilt adjustment
#################################################
[z_tilt]
z_positions: -8, 170
             260, 170
points: -8, 170
        260, 170
speed: 200
horizontal_move_z: 5
retries: 20
retry_tolerance: .005

#################################################
#bed mesh calibrate
#################################################
[bed_mesh]
speed:230                
horizontal_move_z:5   
mesh_min:17,15   
mesh_max:285,282 
probe_count:6,6      
algorithm: bicubic   
bicubic_tension: 0.3
fade_start: 0.2
fade_end: 5.0
mesh_pps:4,4
move_check_distance: 3
#split_delta_z: .025

#################################################
#adjust bed screws tilt
#################################################
[screws_tilt_adjust]
screw1: 4, 58
screw1_name: screw vorne ▼ Links ◄
screw2: 243, 58
screw2_name: Screw vorne ▼ Rechts ►
screw3: 243, 290
screw3_name: screw hinten ▲ Rechts ►
screw4: 4, 290
screw4_name: screw hinten ▲ Links ◄
horizontal_move_z: 5.
speed: 200.
screw_thread: CW-M4

[axis_twist_compensation]
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 20
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position. This parameter must be provided.
calibrate_end_x: 200
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position. This parameter must be provided.
calibrate_y: 112.5
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter must be provided and is recommended to
#   be near the center of the bed

[heater_fan hotend_fan]
pin: PE11


[multi_pin fan_pins]
pins: PE9,PE13


[fan]
pin:multi_pin:fan_pins

[output_pin my_led]
pin:PC4
pwm: 1
value: 1
cycle_time:0.0005

[controller_fan Fan_Board]
pin:PD3
fan_speed: 1.0
idle_timeout: 120
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z, stepper_z1

[input_shaper]
damping_ratio_x: 0.05
damping_ratio_y: 0.1
#shaper_type_x = 3hump_ei
#shaper_freq_x = 40
#shaper_type_y = 2hump_ei
#shaper_freq_y = 40

[gcode_macro PRINT_START]       # 将 PRINT_START 设置为开始打印时的宏，自定义打印前的动作
gcode:
    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=True
[gcode_macro PRINT_END]
gcode:
    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
    RUN_SHELL_COMMAND CMD=clear_plr
    clear_last_file


[include printer_additions/___module_loader.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.721
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 40.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 40.2
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.904
#*# pid_ki = 0.697
#*# pid_kd = 1556.981
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.325
#*# pid_ki = 1.550
#*# pid_kd = 80.369
#*#
#*# [bed_mesh Mesh_GAC_060_08x08]
#*# version = 1
#*# points =
#*# 	-0.048750, -0.038750, -0.036250, -0.051250, -0.050000, -0.038750, -0.052500, -0.066250
#*# 	-0.056250, -0.036250, -0.023750, -0.045000, -0.045000, -0.032500, -0.047500, -0.053750
#*# 	0.040000, 0.045000, 0.040000, 0.010000, -0.016250, -0.033750, -0.080000, -0.125000
#*# 	0.043750, 0.051250, 0.053750, 0.026250, 0.010000, -0.008750, -0.056250, -0.101250
#*# 	-0.070000, -0.018750, 0.016250, 0.021250, 0.036250, 0.051250, 0.032500, 0.008750
#*# 	-0.095000, -0.050000, 0.000000, 0.011250, 0.037500, 0.052500, 0.051250, 0.042500
#*# 	-0.007500, 0.025000, 0.043750, 0.043750, 0.051250, 0.061250, 0.047500, 0.016250
#*# 	-0.140000, -0.101250, -0.071250, -0.061250, -0.036250, -0.010000, -0.003750, -0.012500
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 17.0
#*# max_x = 284.96
#*# min_y = 15.0
#*# max_y = 281.98
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.032500, -0.003750, -0.003750, -0.031250, -0.010000, -0.051250, -0.076250, -0.101250
#*# 	-0.062500, -0.017500, 0.000000, -0.023750, 0.008750, -0.020000, -0.023750, -0.027500
#*# 	0.096250, 0.101250, 0.073750, 0.005000, -0.002500, -0.078750, -0.135000, -0.183750
#*# 	0.057500, 0.085000, 0.080000, 0.030000, 0.038750, -0.026250, -0.076250, -0.122500
#*# 	-0.033750, 0.020000, 0.036250, 0.011250, 0.053750, 0.015000, -0.003750, -0.022500
#*# 	-0.033750, 0.013750, 0.037500, 0.018750, 0.066250, 0.021250, 0.007500, -0.007500
#*# 	0.042500, 0.075000, 0.073750, 0.037500, 0.067500, 0.016250, -0.007500, -0.035000
#*# 	-0.051250, -0.013750, -0.016250, -0.041250, -0.007500, -0.047500, -0.070000, -0.085000
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 17.0
#*# max_x = 284.96
#*# min_y = 15.0
#*# max_y = 281.98
#*#
#*# [bed_mesh Adaptive]
#*# version = 1
#*# points =
#*# 	-0.012500, -0.030000, -0.027500, -0.040000, -0.053750
#*# 	0.023750, 0.006250, 0.022500, 0.018750, -0.001250
#*# 	-0.033750, -0.017500, 0.036250, 0.061250, 0.072500
#*# 	0.013750, 0.005000, 0.037500, 0.041250, 0.037500
#*# x_count = 5
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 70.4
#*# max_x = 223.8
#*# min_y = 77.89
#*# max_y = 226.17
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.026667, -0.058333, 0.031667
#*# compensation_start_x = 20.0
#*# compensation_end_x = 200.0
#*#
#*# [bed_mesh GC_060_07x07]
#*# version = 1
#*# points =
#*# 	  -0.058750, -0.084679, -0.119357, -0.130603, -0.103443, -0.053783, -0.014123
#*# 	  -0.032500, -0.037179, -0.066857, -0.089353, -0.067193, -0.013783, 0.028377
#*# 	  0.143750, 0.104071, 0.044393, -0.023103, -0.038443, -0.045033, -0.055373
#*# 	  0.040000, 0.030321, -0.004357, -0.028103, -0.020943, 0.014967, 0.028377
#*# 	  0.001250, 0.021571, 0.026893, 0.060647, 0.049057, 0.098717, 0.140877
#*# 	  0.092500, 0.077821, 0.041893, 0.024397, 0.037807, 0.069967, 0.094627
#*# 	  0.003750, 0.009071, -0.029357, -0.038103, -0.018443, 0.027467, 0.063377
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = direct
#*# tension = 0.3
#*# min_x = 17.0
#*# max_x = 284.96
#*# min_y = 15.0
#*# max_y = 282.0
